/**
  * Version 3.2
  * Split Sections Code For Squarespace 7.1 & 7.0
  * Copyright Will Myers 
*/

body.wm-split-loaded{
  opacity: 1;
}
/*On Mobile*/
@media(max-width: 799px){
  body:not(.sqs-edit-mode-active) .wm-split-sections {
    display:flex;
    flex-wrap:wrap;
  }
  body:not(.sqs-edit-mode-active) .wm-split-section {
    width:100% !important;
    flex-grow: 1;
  }
  body:not(.sqs-edit-mode-active) .wm-split-section {
    position:relative !important;
  }
}

/*Sticky Section on Desktop*/
@media(min-width: 799px){
  body:not(.sqs-edit-mode-active) .split-sticky{
    position:sticky !important;
    top:0;
    left:0;
    height:100% !important;
  }
  body:not(.sqs-edit-mode-active).tweak-fixed-header-style-basic .split-sticky{
    top:0;
  }
  body:not(.sqs-edit-mode-active).tweak-fixed-header.tweak-fixed-header-style-basic .split-sticky{
    top:var(--wm-header-height, 0);
  }
  body:not(.sqs-edit-mode-active).tweak-fixed-header.tweak-fixed-header-style-scroll-back.scroll-back-down .split-sticky{
    top:var(--wm-header-height, 0);
    transition: top 240ms ease-in-out;
  }
  body:not(.sqs-edit-mode-active).tweak-fixed-header.tweak-fixed-header-style-scroll-back.scroll-back-up .split-sticky{
    top:0px;
    transition: top 240ms ease-in-out;
  }
}
body:not(.sqs-edit-mode-active) .wm-split-section .content-wrapper{
  box-sizing:border-box !important;
}

/*When In Edit Mode*/
body:not(.sqs-edit-mode-active) .wm-split-section {
  width:100%;
  flex-grow: 1;
}
body:not(.sqs-edit-mode-active) .wm-split-sections {
  display:flex;
  flex-flow:row wrap;
  position:relative;
  gap: var(--gap);
  padding: var(--gap);
}
body.sqs-edit-mode-active section.wm-split-section{
  width:unset !important;
}
body.sqs-edit-mode-active .wm-split-section {
  position:relative !important;
}

/*Remove Height of Code Block*/
body:not(.sqs-edit-mode-active) .remove-height{
  padding:0px !important;
}

/*Adjust First Section Padding*/
@media(min-width: 799px){
  body:not(.sqs-edit-mode-active) #sections .wm-split-sections:first-child .wm-split-section{
    padding-top:var(--wm-header-height, 0px);
  }
}
@media(max-width: 799px) {
  body:not(.sqs-edit-mode-active) .sections > :first-child.wm-split-sections .wm-split-section{
    padding-top:0px !important
  }
  body:not(.sqs-edit-mode-active) .sections > :first-child.wm-split-sections {
    padding-top: var(--wm-header-height) !important
  }
  /*For Transparent Headers*/
  body:not(.sqs-edit-mode-active).tweak-transparent-header .sections > :first-child.wm-split-sections {
    padding-top: 0px !important;
  }
}

/*Default Section Backgrounds*/
.wm-split-section .section-background img, 
.wm-split-section .summary-v2-block img{
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  object-position: var(--position, 50% 50%);
  object-fit: cover;
}

.wm-split-sections:not(:first-child) .page-section:first-child{
  padding-top:unset;
}

/* 7.0 Code */
.wm-split-section.Index-gallery{
  box-sizing:border-box;
}
